// Global colors

$color-gray: #666666;
$color-white: #ffffff;
$color-black: #000000;

$color-yellow-main: #f8ff35;
$color-yellow-light: #bdc227;
$color-yellow-dark: #959920;
$color-yellow-pale: #f9fcae;

$color-text-main: #3C3C3C;
$color-text-light: #50586A;
$color-text-placeholder: #7f899e;
$color-text-black: #000000;

$color-input-focus: #aeb7bb;
$color-input-background: #f4f9fb;
$color-input-border: #dce5ea;

$color-button-border: #dbe4e7;
$color-button-background-gray: #e8eff1;
$color-button-background-blue: #53C6D1;


$color-header__dark-gray: #29313c;
$color-nav__gray: #323a45;
$color-nav__button-dark-gray: #282e37;
$color-nav__button-blue: #00d4ff;
$color-nav__button-dark-blue: #006eff;

$color-table__light-gray: #a3a9b1;

$color-1-star: #ff5d00;
$color-2-stars: #ffa800;
$color-3-stars: #dae700;
$color-4-stars: #abd02d;
$color-5-stars: #67c600;

$color-form-devider: #EAECF0;