// Global colors

$color-gray: #666666;
$color-white: #ffffff;
$color-black: #000000;

$color-yellow-main: #f8ff35;
$color-yellow-light: #bdc227;
$color-yellow-dark: #959920;
$color-yellow-pale: #f9fcae;